<!DOCTYPE html>
<html>
<head>
    <title>Liste des clients</title>
    <meta charset="utf-8" />
</head>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Age</th>
        </tr>

        @foreach (TestASPMVC.Models.Client client in ViewData["Clients"] as List<TestASPMVC.Models.Client>)
        {
            <tr>
                <td>@client.Nom</td>
                <td>@client.Age</td>
            </tr>
        }

    </table>
</body>
</html>
