<!DOCTYPE html>
<html>
<head>
    <title>Trouvé</title>
    <meta charset="utf-8" />
</head>
<body>
    <div style="color:red">
        Le client @ViewData["Nom"] n'a pas été trouvé !
    </div>
</body>
</html>
