<!DOCTYPE html>
<html>
<head>
    <title>Trouvé</title>
    <meta charset="utf-8" />
</head>
<body>
	<div> 

        Le client @ViewData["Nom"] a bien été trouvé et a @ViewData["Age"] ans.  

    </div>
</body>
</html>
